<section id="code-section" class="doc-section">
    <h2 class="section-title">Code</h2>

    {{> docs/codeblocks/html}}
    {{> docs/codeblocks/css}}
    {{> docs/codeblocks/javascript}}
    {{> docs/codeblocks/handlebars}}


</section>
