<div id="css" class="section-block">
    <div class="code-block">
        <h6>CSS Code Example</h6>
        <pre><code class="language-css">body {
            font-family: 'Open Sans',arial, sans-serif;
            color: #333;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            }
        </code></pre>
    </div><!--//code-block-->
</div><!--//section-block-->
