<div id="html" class="section-block">

    <div class="callout-block callout-success">
        <div class="icon-holder">
            <i class="fa fa-thumbs-up"></i>
        </div><!--//icon-holder-->
        <div class="content">
            <h4 class="callout-title">Useful Tip:</h4>
            <p>You can use this online <a href="https://mothereff.in/html-entities" target="_blank">HTML entity
                encoder/decoder</a> to generate your code examples.</p>
        </div><!--//content-->
    </div>
    <div class="code-block">
        <h6>HTML Code Example</h6>
        <pre><code class="language-markup">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
    ...
    &lt;div class=&quot;jumbotron&quot;&gt;
        &lt;h1&gt;Hello, world!&lt;/h1&gt;
        &lt;p&gt;...&lt;/p&gt;
        &lt;p&gt;&lt;a class=&quot;btn btn-primary btn-lg&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Learn more&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;jumbotron&quot;&gt;
        &lt;h1&gt;Hello, world!&lt;/h1&gt;
        &lt;p&gt;...&lt;/p&gt;
        &lt;p&gt;&lt;a class=&quot;btn btn-primary btn-lg&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Learn more&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
    ...
&lt;/html&gt;</code></pre>
    </div><!--//code-block-->
</div><!--//section-block-->
