<div id="javascript" class="section-block">
    <div class="code-block">
        <h6>JavaScript Code Example</h6>
        <pre><code class="language-javascript">&lt;script&gt;
    function myFunction(a, b) {
        return a * b;
    }

    document.getElementById(&quot;demo&quot;).innerHTML = myFunction(4, 3);
&lt;/script&gt;</code></pre>
    </div><!--//code-block-->
</div><!--//section-block-->
